body {
background-color: #eda3ff;
color: rgb(103, 27, 173);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #c983f1;
color: rgb(0, 0, 0);
font-family: "Bai Jamjuree", sans-serif;
}