body {
background-color: #741d6f;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #570a83;
color: rgb(0, 0, 0);
font-family: "Bai Jamjuree", sans-serif;
}